/* ------ General ------ */
.most-recent::before, .most-recent::after,
.article-snippet .snippet-wrapper::before, 
.article-snippet .snippet-wrapper::after,
#popular::before, #popular::after,
#updated::before, #updated::after,
.basic-form::before, .basic-form::after,
#about-text::before, #about-text::after,
#credits::before, #credits::after {
    [ display: block; display: block; ]
}

#featured::before, #featured::after,
#news-discussions h2:first-of-type::before,
#news-discussions h2:first-of-type::after {
    [ display: inline-block; display: inline-block; ]
}


/* ------ Header Navigation ------ */
header #extra a:first-of-type:hover::after,
header #extra a:nth-of-type(2):hover::after,
header #extra a:nth-of-type(3):hover::after,
header #extra a:last-of-type:hover::after {
    [ top: 30px; top: 38px; ]
}

header #main-nav { [ width: 33%; width: 33.1%; ] }


/* ------ Most Recent Article/Screencast ------ */
.most-recent::before { [ bottom: 118px; bottom: 84px; ] }

.most-recent::after { [ top: 136px; top: 104px; ] }


/* ------ Article Snippets ------ */
.article-snippet .snippet-wrapper::before {
    [ margin: 0; margin: -9px 0px; ]
    [ bottom: 57px; bottom: 31px; ]
}

.article-snippet .snippet-wrapper::after {
    [ margin: 0; margin: -9px 0px; ]
    [ top: 57px; top: 31px; ]
}

.h-article-snippet, .h-sc-snippet {
    [ padding: 24px 32px; padding: 25px 32px; ]
}

.h-article-snippet h3 {
    [ margin-bottom: 0; margin-bottom: 0; ]    
}


/* ------ Scripts ------ */
.f-symbol {
    [ left: -40px; left: -10px; ]
}

#featured::before, #featured::after {
    [ margin: 0; margin: -138px 0px; ]
}

#featured::before {
    [ border-width: 184px 35px 0px 0px; border-width: 198px 35px 0px 0px; ]

    /* See note below */
    [ -webkit-transform: scale(1) rotate(-180deg) translate(67px, -39px) skew(0deg, -50deg); 
      -webkit-transform: scale(1) rotate(-180deg) translate(67px, -39px) skew(0deg, -50deg); ]
}

#featured::after {
    [ border-width: 0px 0px 184px 35px; border-width: 0px 0px 198px 35px; ]

    /*
     *  Yeah, it's f'n retarded that I have to this, but webkit won't obey its own properties,
     *  even when using !important
     */
    [ -webkit-transform-origin-x: 378px; -webkit-transform-origin-x: 367px; ]
    [ -webkit-transform-origin-y: 251px; -webkit-transform-origin-y: 245px; ]
    [ -webkit-transform: scale(1) rotate(-180deg) skew(0deg, -50deg); 
      -webkit-transform: scale(1) rotate(-180deg) skew(0deg, -50deg); ]
}

#featured {
    [ padding: 24px 32px 4px; padding: 24px 32px 25px; ] 
}

#featured h2 {
    [ left: -40px; left: -10px; ]
}

#popular::before, #popular::after {
    [ margin: 0; margin: -20px 0; ]
}

#popular::before {
    [ top: -81px; top: -44px; ]
    [ left: 92px; left: 56.4%; ]
}

#popular::after {
    [ bottom: -81px; bottom: -44px; ]
}

#updated::before, #updated::after {
    [ margin: 0; margin: -30px 0; ] 
}

#updated::before {
    [ bottom: 101px; bottom: 54px; ]
}

#updated::after {
    [ top: 101px; top: 54px; ]
}


/* ------ News ------ */
#news-discussions h2:first-of-type::before,
#news-discussions h2:first-of-type::after {
    [ height: 0px; height: 30px; ]
    [ margin: none; margin: -49px 0; ]
}

#news-discussions h2:first-of-type::before {
    [ float: none; float: left; ]
    [ top: -9px; top: 30px; ]
}

#news-discussions h2:first-of-type::after {
    [ float: none; float: right; ]
    [ top: 8px; top: 47px; ]
}


/* ------ About Page ------ */
#about-text::before, #about-text::after, 
#credits::before, #credits::after {
    [ margin: 0; margin: -30px 0; ]
}

#about-text::before, #credits::before {
    [ bottom: 101px; bottom: 54px; ]
}

#about-text::after, #credits::after {
    [ top: 122px; top: 74px; ]
}


/* ------ Forms ------ */
.basic-form::before, .basic-form::after {
    [ margin: 0; margin: -22px 0; ] 
}

.basic-form::before {
    [ bottom: 85px; bottom: 46px; ] 
}

.basic-form::after {
    [ top: 115px; top: 46px; ]
    [ right: 23.1%; right: 8.1%; ]    
}

#new-article a {
    [ left: 250px; left: 90%; ]
}

#new-article::after {
    [ right: 23.1%; right: 7%; ]
}

input[type=text], input[type=url], input[type=email], textarea {
    border-style: solid;
    border-width: 1px;
    border-color: transparent transparent #DADADA #DADADA;
}


/* ------ Media queries ------ */
@media screen and (max-width: 1280px) {
    .article-snippet {
        [ margin-bottom: 10.5em; margin-bottom: 12.5em; ]
    }

    .h-article-snippet .header-link {
        display: table-cell;
        vertical-align: middle;
        height: 82px;
    }

    .more-articles .h-article-snippet h3 { width: 100% }

    .time-wrapper {
        [ left: 0; left: 1px; ]
        [ float: none; float: left; ]
    }

    .abs-form::after { [ left: 8.1%; left: -7.1%; ] }
    .abs-form .close { left: 90%; }

    #about .basic-form::after { [ left: 8.1%; left: -8.8%; ] }

    #popular::before { [ left: 56.4%; left: 54.4%; ] }
    #featured::after {
        [ -webkit-transform-origin-x: 367px; -webkit-transform-origin-x: 353px; ]
        [ -webkit-transform-origin-y: 245px; -webkit-transform-origin-y: 236px; ]
    }
}
