/* ------ Header ------ */
header { right: -6px !important; }
header #menu-link { right: 37px !important; }
header #menu-link a.up::before {
    top: -1px !important;
}

/* ------ Contact Form ------ */
#contact form input:not([type=submit]), #contact form textarea { 
    border-bottom-width: 1px !important;
}
#contact form .submit-success { left: 30px; }

/* ------ Media queries ------ */
