/**
 *
 * Form styles: Styles for article submission form
 *
 */

@mixin circle($diameter, $color) {
    @include border-radius($diameter);
    @include inline-block;

    background-color: $color;
    height: $diameter; width: $diameter;
    text-align: center;
}


// General classes
.overlay {
    background: rgba($dry-dark-gray, 0.8);
    display: none;
    height: 100%; width: 100%;

    position: fixed;
    left: 0; top: 0;

    z-index: 130;
}

.form-container {
    @include grid(8);
    @include adjust-font-size-to(14px);
    height: inherit; margin: auto;
    float: none;
    position: relative;

    h2 {
        @include adjust-font-size-to(26px,1,14px);
        @include padding-leader;
        @include padding-trailer;
        @include leading-border(2px,1,14px);
        @include trailing-border(1px,0.75,14px,dotted);
        @include trailer;
        color: white;
        border-color: $light-gray;
        text-transform: lowercase;
    }

    input[type=submit] { position: relative; left: 313px; }
}

.textinput {
    @include adjust-font-size-to(14px,1,14px);
    @include apply-side-rhythm-border(left,2px,0.25,14px);
    @include trailer(1.5);
    @include border-radius(2px);
    @include box-sizing(border-box);
    background-color: $cloudy-gray;
    border-color: $reddish-pink;
    border: { bottom: none; top: none; right: none }
    color: $dry-black;
    width: 100%;
    height: $base-line-height / 14px * 1.5em;
}

.close {
    @include link-colors(white, white, white);
    @include adjust-font-size-to(30px,1,14px);
    font-family: "Notice Std";
    text-decoration: none;
    position: absolute; top: -7px; right: 7px;
}

// Validation
.error-msg {
    @include inline-block;
    @include float-right;
    background: $dark-red; color: white;
    padding: 0 8px;

    @include adjust-font-size-to(11px,1,14px);
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: right;
}

.submit-msg {
    @include adjust-font-size-to(12px,1,14px);
    @include apply-side-rhythm-border(left,4px,0.25,14px);
    letter-spacing: 1px;
    color: white;
    padding-left: 0.63em;
    position: absolute; bottom: $base-line-height * 2;
    width: 262px;
}

.submit-error {
    @extend .submit-msg;
    border-color: $dark-red;
}

.submit-success {
    @extend .submit-msg;
    border-color: green;
}


// By element
form {
    @include display-box;
    @include box-orient(horizontal);
    @include box-pack(center);
    @include box-align(center);
    background: $dry-black;
    display: block;
    padding: 30px;
    position: relative; top: 20%;

    label {
        color: white;
        font-weight: bold; letter-spacing: 1px; text-transform: lowercase;
    }
}

label[for^="lol"], input[name^="lol"] {
    position: absolute; left: -99999px; top: -99999px;
}

textarea { @extend .textinput; height: 105px; }

input {
    &[type=text], &[type=url], &[type=email] {
        @include margin-trailer(0.5);
        @extend .textinput;
    }
    &[type=submit] {
        @include margin-leader(0.5);
        @include adjust-font-size-to(14px,1,14px);
        @include circle(70px,$cloudy-gray);
        border: none;
        letter-spacing: 1px; text-transform: lowercase;

        &:hover { background-color: $gray; }
    }
}


// ------------------------------
// Overrides for contact form
// ------------------------------
#contact form {
    background-color: white;
    padding: 0 30px;

    .submit-msg {
        color: black;
        width: 332px; bottom: -58.5px;
    }

    label { color: black; }
    input:not([type=submit]), textarea {
        @include apply-side-rhythm-border(left,4px,0.25,14px);
        @include trailing-border(1px,1,14px,dashed);
        background-color: white;
        border-bottom-color: black;
        padding-bottom: 0;
    }
    textarea {
        @include margin-trailer(0.5);
    }
    input[type=submit] {
        position: absolute; right: 27px;
    }
}
