@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import "tfg";
@import "type";


// ---- General styles ----
$red:           #C51016;
$gray:          #d2d2d2;
$light-gray:    #bdbdbd;
$dark-gray:     #4E4E4E;
$darker-gray:   #bababa;
$dry-dark-gray: #282323;

body {
    @extend .sans;
    background-color: $gray;
    color: $dry-dark-gray;
}

section {
    @include trailer(1.5);
    position: relative;
}


// ------------------------------
// Grid Setup
// ------------------------------
$tfg-max-width: 1440px;
$tfg-columns:   28;
$tfg-gutter:    30%;

.container { @include tfg-container; position: relative; }


// ------------------------------
// Typography
// ------------------------------
$base-font-size: 13px;
$base-line-height: 13px * 1.5;
@include establish-baseline;

@for $i from 1 through 6 {
    h#{$i} { font-weight: bold; }
}

.sans { font-family: "Helvetica Neue", Arial, sans-sarif; }


// ------------------------------
// Content
// ------------------------------
.content {
    @include adjust-font-size-to(13px);
    background: white;
    margin-bottom: 0;
    padding: 30px;
    z-index: 10;

    h1 {
        @include adjust-font-size-to(34px,1,13px);
        @include trailer(0.4);
        letter-spacing: -1px;
        word-spacing: 1px;
    }
}

.new {
    background-color: $red;
    color: white;
    padding: { left: 4px; right: 4px; }
    position: absolute;
    top: 0; right: 10px;

    &::after { content: 'N'; }
    font-weight: bold;
}


// ------------------------------
// Objects
// ------------------------------
@mixin after-right($content, $font) {
    @include adjust-font-size-to(19.5px,1,13px);
    font-family: $font;
    font-weight: normal;
    content: $content;

    position: relative; top: 19.5/2.0 * 1px;
    padding-left: 13px;
}


.article {
    @include grid(5);
    margin: 20px;
    padding-left: 20px;
    position: relative;

    date {
        @include adjust-font-size-to(9px,1,13px);
        font-weight: bold;
        letter-spacing: 1px;
        color: $light-gray;
    }

    a {
        @include link-colors($dry-dark-gray, $red, $dry-dark-gray);

        h4 {
            @include trailer;
        }
    }

    p {
        @include adjust-font-size-to(11px,1,13px);
        font-family: Verdana, Geneva, sans-serif;
        white-space: normal;
        color: $dark-gray;
    }

    img {
        display: block; margin: auto;
    }
}

.row {
    @include horizontal-list;
    @include trailing-border(1px, 0.3);
    border-color: $darker-gray;

    li {
        &:first-of-type { margin-left: 20px; }

        &:not(:last-of-type) {
            @include apply-side-rhythm-border(right, 1px);
            border-color: $darker-gray;
        }
    }
}

.bottom-row-obj { @include leader(3.3); @include padding-trailer(6); }

.more {
    @include link-colors($dry-dark-gray, $red, $dry-dark-gray);
    @include trailing-border(1px, 0.1, $base-font-size, dotted);
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.header-obj {
    background-color: rgba($dry-dark-gray, 0.95);
    color: white;
}

.heading-deco {
    @include leading-border(2px,0.3,13px,solid);
}

header {
    position: absolute; top: 0; right: -3px;
    width: 400px;
    z-index: 120;

    #link-wrapper {
        $side-margin: 13/2.0 * 1px;

        @extend .header-obj;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        padding: { left: $side-margin; right: $side-margin; }
        font-weight: bold;
        text-transform: uppercase;

        a {
            @include link-colors(white, $red, white);
            margin: { left: $side-margin; right: $side-margin; }
            letter-spacing: -0.3px;
            text-decoration: none;
        }
    }

    #logo-wrapper {
        @extend .header-obj;
        margin: { left: auto; right: auto; }
        height: 50px; width: 90px;
        text-align: center;
    }
}


// ------------------------------
// Layout
// ------------------------------
section .row:last-of-type { border-bottom: none; }

#articles h1::after { @include after-right("X", "Notice Second"); }

#scripts {
    @include grid(15);
    @extend .bottom-row-obj;
    @include inline-block;
    float: none;

    h1 {
        @extend .heading-deco;
        &::after { @include after-right("O", "Notice Second"); }
    }

    // fix for .article
    .article { @include grid(8.2); margin: 20px 20px 20px 0; }
}

#screencasts {
    @include grid(10);
    @include prepend(1);
    @include float-right;
    @extend .bottom-row-obj;
    padding-left: 4em;

    h1 {
        @extend .heading-deco;
        &::after { @include after-right("P", "Notice Second"); }
    }

    // fix for .article
    .article {
        @include grid(11);
        &:first-of-type { margin-left: 24px; padding-right: 28px; }
        &:last-of-type  { margin-left: 20px; }
    }

    .row { margin: { left: auto; right: auto; } }
}
