@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";
@import "tfg";
@import "type";


// ---- General styles ----
$red:           #C51016;
$dark-red:      #E10043;
$reddish-pink:  #F2457E;
$gray:          #d2d2d2;
$light-gray:    #bdbdbd;
$dark-gray:     #4E4E4E;
$darker-gray:   #bababa;
$dry-dark-gray: #282323;
$cloudy-gray:   #E7E7E7;
$dry-black:     #1D1B1C;

body {
    @extend .sans;
    background: white inline-image('bg_pat.png') repeat scroll;
    color: $dry-dark-gray;
    overflow: auto;
}

section {
    @include trailer(1.5);
    position: relative;
}

a { outline: 0; text-decoration: none; }


// ------------------------------
// Grid Setup
// ------------------------------
$tfg-max-width: 1440px;
$tfg-columns:   28;
$tfg-gutter:    30%;

.container { @include tfg-container; position: relative; }


// ------------------------------
// Typography
// ------------------------------
$base-font-size: 13px;
$base-line-height: 13px * 1.5;
@include establish-baseline;

@for $i from 1 through 6 {
    h#{$i} { font-weight: bold; }
}

p { margin-bottom: $base-line-height; }

.sans { font-family: "Helvetica Neue", Arial, sans-sarif; }


// ------------------------------
// Content
// ------------------------------
.content {
    @include adjust-font-size-to(13px);
    background: white;
    margin-bottom: 0;
    padding: 30px;
    z-index: 10;

    h2 {
        @include adjust-font-size-to(34px,1,13px);
        @include trailer(0.4);
        letter-spacing: -1px;
        word-spacing: 1px;
    }
}

.new {
    background-color: $red;
    color: white;
    padding: { left: 4px; right: 4px; }
    position: absolute;
    top: 0; right: 10px;

    &::after { content: 'N'; }
    font-weight: bold;
}


// ------------------------------
// Objects
// ------------------------------
@import "form";

@mixin after-right($content, $font) {
    @include adjust-font-size-to(19.5px,1,13px);
    content: $content;
    font-family: $font;
    font-weight: normal;
    text-shadow: $dark-gray 0 0 2px;

    position: relative; top: 19.5/2.0 * 1px;
    padding-left: 13px;
}

@mixin triangle($top, $right, $bottom, $left, $style: solid, $color: white) {
    border-width: $top $right $bottom $left;
    border-style: $style;

    @include inline-block;
    height: 0; width: 0;
    content: " ";
    position: relative;
}

@mixin upward-facing-triangle($height, $width, $style: solid, $color: white) {
    @include triangle(0, $width, $height, $width, $style, $color);
    border-color: transparent transparent $color transparent;
}

@mixin downward-facing-triangle($height, $width, $style: solid, $color: white) {
    @include triangle($height, $width, 0, $width, $style, $color);
    border-color: $color transparent transparent transparent;
}

@mixin pointer($direction: "down") {
    &::before {
        @if $direction == "up" {
            @include upward-facing-triangle(5px,5px);
        } @else if $direction == "down" {
            @include downward-facing-triangle(5px,5px);
        }
        position: relative; top: 0;
        margin-right: 7px;
    }
}

@mixin header-symbol($letter, $font: "Notice Second") {
    @include after-right($letter, $font);
}


.link-colors {
    @include link-colors($dry-dark-gray, $red, $dry-dark-gray);
}

.light-link-colors {
    @include link-colors(white, $red, white);
}

.loader {
    display: block; margin: auto;
}

.more {
    @extend .link-colors;
    @include trailing-border(1px, 0.1, $base-font-size, dotted);
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.blurb {
    @include grid(5);
    margin: 20px;
    padding-left: 20px;
    position: relative;

    date {
        @include adjust-font-size-to(9px,1,13px);
        font-weight: bold;
        letter-spacing: 1px;
        color: $light-gray;
    }

    a {
        @extend .link-colors;
        h4 { @include trailer; }
    }

    p {
        @include adjust-font-size-to(11px,1,13px);
        font-family: Verdana, Geneva, sans-serif;
        white-space: normal;
        color: $dark-gray;
    }

    img {
        display: block; margin: auto;
        width: 175px; height: 117px;
    }
}

.row {
    @include horizontal-list;
    @include trailing-border(1px, 0.3);
    border-color: $darker-gray;

    li {
        &:first-of-type { margin-left: 20px; }

        &:not(:last-of-type) {
            @include apply-side-rhythm-border(right, 1px);
            border-color: $darker-gray;
        }
    }
}

.bottom-row-obj {
    @include leader(3.3); @include padding-trailer(6);
    h2 { @extend .heading-deco; }
}

.top-row-obj { @include padding-trailer(4); }

.specific-listing {
    @extend .top-row-obj;
    .blurb { height: 255px; }
}

.cols2 {
    @include grid(10);
    @include prepend(1);
    @extend .bottom-row-obj;
    @include float-right;

    .blurb {
        @include grid(11);
        &:first-of-type { margin-left: 24px; padding-right: 28px; }
        &:last-of-type  { margin-left: 20px; }
    }
}

.cols3 {
    @include grid(15);
    @extend .bottom-row-obj;
    @include inline-block;
    float: none;

    h2 { @extend .heading-deco; }

    .blurb {
        // fix for .blurb
        @include grid(8.2); margin: 20px 20px 20px 0;
        height: 117px;
        &:last-child { margin-right: 0; }
    }

}

.header-obj {
    background-color: rgba($dry-dark-gray, 0.95);
    color: white;
}

.heading-deco {
    @include leading-border(2px,0.3,13px,solid);
}

header {
    .wrapper {
        z-index: 120;

        &:first-of-type {
            position: fixed; top: -50px; left: 50px;
            width: 460px;
        }

        &:last-of-type {
            position: fixed; top: -126px; right: 50px;
            width: 500px;
        }
    }

    #link-wrapper {
        $side-margin: 13/2.0 * 1px;

        @extend .header-obj;
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        padding: { left: $side-margin; right: $side-margin; }
        font-weight: bold;
        text-transform: uppercase;

        a {
            @extend .light-link-colors;
            margin: { left: $side-margin; right: $side-margin; }
            letter-spacing: -0.3px;
            text-decoration: none;
            img { vertical-align: middle; }
        }
    }

    .menu-link {
        @extend .header-obj;
        margin: { left: auto; right: auto; }
        height: 20px; width: 90px;
        text-align: center;

        a {
            @extend .light-link-colors;
            font-weight: bold;
            &.up { @include pointer("up"); }
            &.down { @include pointer("down"); }
        }
    }
}

footer {
    @include padding-leader(2);
    display: table; // fixes annoying blank space issue in Chrome/Safari
    width: 100%;

    nav {
        @include grid(3);
        @include leading-border(5px,0.3,12px,solid);
        @include padding-leader;
        @include adjust-font-size-to(12px,1,13px);
        font-weight: bold;

        a {
            @include trailing-border(1px,0.15,12px,dotted);
            @extend .link-colors;
            display: block;

            &:nth-of-type(n+1) { @include padding-leader(0.15); }
        }
    }

    #legal {
        @include grid(5);
        @include leading-border(5px,0.3,12px,solid);
        @include padding-leader;
        img { display: block; margin: auto; }
    }
}


// ------------------------------
// Layout
// ------------------------------
section .row:last-of-type { border-bottom: none; }

#articles, #t-screencasts { @extend .specific-listing; }

#articles {
    h2::after { @include header-symbol("X"); }
}

#t-screencasts {
    h2::after { @include header-symbol("P"); }
    .blurb { height: 215px; }
}

#t-scripts {
    @extend .cols3;
    h2::after { @include header-symbol("O"); }
}

#scripts {
    @extend .cols3;
    h2::after { @include header-symbol("O"); }
}

#by-rating {
    @extend .cols2;
    @include inline-block;

    h2::after { @include header-symbol("C", "Notice Std"); }

    .blurb { height: 117px; }
}

#screencasts {
    @extend .cols2;
    @include inline-block;
    padding-left: 4em;

    h2::after { @include header-symbol("P"); }

    .row { margin: { left: auto; right: auto; } }
}

#about {
    @include grid(14);
    @extend .bottom-row-obj;
    @include margin-trailer;

    h2::after { @include header-symbol("_"); }
    #column-wrapper {
        @include column-count(2);
        @include column-gap($base-line-height * 2);
    }
}

#contact {
    @include grid(12);
    @include float-right; // why doesn't omega work here?
    @extend .bottom-row-obj;
    h2::after { @include header-symbol("?"); }
}

#results {
    @include grid(18);
    float: none;

    h1 {
        @include adjust-font-size-to(44px,1,13px);
        letter-spacing: -2px;
        @include trailing-border(2px, 1, 48px, solid);
        border-color: lighten($light-gray, 20%);
        padding: 30px 0 1em;

        span { color: darken($gray,20%); }
    }

    .blurb {
        @include trailer(2);
        float: none; margin-left: 0; width: 67%;
        border-bottom: 1px dashed lighten($light-gray, 10%);
    }

    .type {
        @include border-radius(2px);
        background-color: $light-gray; color: white;
        margin-left: 9px;
        padding: 0 4px;
        @include adjust-font-size-to(11px,1,13px);
        font-weight: bold; letter-spacing: 1px;
    }
}


// ------------------------------
// Media Queries
// ------------------------------
@import "queries";
