// ------ Homepage styles ------
#articles, #screencasts, #scripts, #about, #feeds {
    @include full(true);
}


.left-column {
    @include columns(12,24);
    @include pad(0.5,1,24);
    @include alpha(true);
}

.right-column {
    @include columns(10,24);
    @include pad(0,0.5,24);
    @include omega(true);
}

.half-column {
    @include columns(10,24);
    @include pad(1,1,24);

    &:first-of-type { @include alpha(true); }
    &:last-of-type { @include omega(true); }
}

.one-third-column {
    @include columns(6,24);
    @include pad(0,1,24);
}

#scripts .one-third-column { @include omega(true); }

.form-container {
    @include columns(8,24);
    @include pad(2,2,24);
    @include omega(true);
}

.full-padded {
    @include columns(13,24);
    @include pad(1,2,24);
    @include alpha(true);
}

.feed {
    @include columns(11,24);
    @include pad(1,0,24);
    @include alpha(true);
}

.feed-right {
    @include columns(11,24);
    @include suffix(2,11);
    @include omega(true);
}

.more-articles {
    @include columns(15,19);
}

.show-more-wrapper {
    @include columns(8,24);
    @include float-right;
    margin-right: 5%;
}

#articles .latest > .show-more-wrapper {
    @include columns(8,10);
    @include float-right;
    margin-right: 2%;
}

#screencasts .latest > .show-more-wrapper {
    @include columns(9,10);
}

#screencasts > .show-more-wrapper {
    @include columns(9,24);
    @include float-right;
    margin-right: 5%;
}

.news, .discussions {
    .show-more-wrapper {
        @include columns(8,10);
        @include float-right;
    }
}
