// ------ Article snippets ------
.fancy-time {
    @include float-left;
    position: relative;
    left: 16px;

    margin: {
        bottom: 12px;
        right: 20px;
    }

    .day {
        padding-top: 0.55em;
        display: block;
    }
}

.left-column { margin-right: 0; }

.more {
    display: block;
    margin-top: 0;
}

.most-recent {
    background-color: white;
    padding: 24px;

    &::before {
        @include upward-left-facing-triangle(60px, 400px, solid, white);
        bottom: 116px; left: 10.8%;
    }

    &::after {
        @include downward-right-facing-triangle(80px, 400px, solid, white);
        top: 136px; right: -50px;
    }

    time {
        @include float-left;
        @include bordered-circle(100px, 12px, $shibuya-red);

        margin-right: 40px;

        .day {
            padding-top: 0.1em;
            display: block;
        }
    }

    .a-info-wrapper {
        display: table-cell;

        h1 {
            @include float-right;
            width: 72%;
        }
    }
}

.article-snippet {
    @include trailer(7);
    display: block;
    min-height: 120px;
    padding: 12px;

    &:last-of-type {
        @include trailer(8);
    }

    h3 {
        padding-top: 0.69em;
    }

    time {
        @include bordered-circle(50px, 6px, $shibuya-red);
    }

    .snippet-wrapper {
        @include float-right;
        background-color: white;
        display: inline;
        padding: 0 18px;
        width: 76%;

        &::before {
            @include upward-right-facing-triangle(40px, 200px, solid, white);
            bottom: 57px; left: 30px;
        }
        &::after {
            @include downward-left-facing-triangle(40px, 200px, solid, white);
            top: 57px; left: 120px;
        }
    }

}

.time-wrapper {
    @include inline-block;
    background-color: white;
    padding-top: 12px;
    padding-right: 5.5px;
    position: relative;
    left: 10px;
}

.show-more-wrapper {
    @include inline-block;
    @include float-right;
    background-color: white;
    padding: 24px 32px;
}

.show-more {
    cursor: pointer;
    display: block;

    &::before {
        margin-right: -42px;
        vertical-align: middle;
    }

    &::after {
        margin-left: 10px;
        vertical-align: middle;
    }
}

.more-articles:first-of-type .h-article-snippet {
    @include leader(2);
}

.more-articles {
    display: block;
    float: none;
    margin: 0 auto;
}

.h-article-snippet {
    @include trailer(6);
    @include inline-block;
    @include box-orient(vertical);

    background-color: white;
    padding: 24px 32px;
    position: relative;

    &:before {
        @include left-facing-triangle(65px, 250px, solid, white);
        position: absolute;
        top: -65px; left: 25%;
    }

    &:after {
        @include downward-right-facing-triangle(65px, 250px, solid, white);
        position: absolute;
        top: 144px; right: 30%;
    }

    h3 { @include inline-block; vertical-align: text-top; width: 75%; }
    time { @include bordered-circle(50px, 6px, $shibuya-red); }

    .article-info-wrapper {
        @include inline-block;
        height: 100%;
        width:  40%;
    }

    .desc-wrapper {
        @include inline-block;
        min-height: 98px;
        width: 56%;

        border-left:  1px solid $light-gray;
        padding-left: 24px;
    }

    .time-wrapper {
        left: -10px;
    }
}

.header-link { @include link-colors($base, $blue, $base); }
