<section id="results">
    <h1>Search results for: <span>{{search}}</span></h1>

    {{#results}}
        <ul>
            {{#blurbs}}
                <li class="blurb">
                    <date datetime="{{posted_on}}">{{short_date}}</date>
                    <span class="type">{{type}}</span>
                    <a href="{{link}}" title="{{title}}">
                        <h4>{{title}}</h4>
                    </a> 

                    <p class="hyphenate">{{desc}}</p>
                </li>
            {{/blurbs}}
        </ul>
    {{/results}}
</section>
