<section id="results">
    <h1>Search results for: <span>search</span></h1>

    <ul>
        <li class="blurb">
            <date datetime="2008-01-01-18:00:00">2011.01.01</date>
            <span class="type">Article</span>
            <a href="#" title="awesome title">
                <h4>My Awesome Title</h4>
            </a> 

            <p class="hyphenate"> "Supposing it be the captain of the Pequod, what dost thou want of him?" he demanded. "I was thinking of shipping." "Thou wast, wast thou? I see thou art no Nantucketer&mdash;ever been in a stove boat?" "No, Sir, I never have." "Dost know nothing at all about whaling, I dare say&mdash;eh? "Nothing, Sir; but I have no doubt I shall soon learn. I've been several voyages in the merchant service,</p>
        </li>

        <li class="blurb">
            <date datetime="2008-01-01-18:00:00">2011.01.01</date>
            <span class="type">Screencast</span>
            <a href="#" title="awesome title">
                <h4>My Awesome Screencast</h4>
            </a> 

            <p class="hyphenate"> "Supposing it be the captain of the Pequod, what dost thou want of him?" he demanded. "I was thinking of shipping." "Thou wast, wast thou? I see thou art no Nantucketer&mdash;ever been in a stove boat?" "No, Sir, I never have." "Dost know nothing at all about whaling, I dare say&mdash;eh? "Nothing, Sir; but I have no doubt I shall soon learn. I've been several voyages in the merchant service,</p>
        </li>

        <li class="blurb">
            <date datetime="2008-01-01-18:00:00">2011.01.01</date>
            <span class="type">Script</span>
            <a href="#" title="awesome title">
                <h4>My Awesome Script</h4>
            </a> 

            <p class="hyphenate"> "Supposing it be the captain of the Pequod, what dost thou want of him?" he demanded. "I was thinking of shipping." "Thou wast, wast thou? I see thou art no Nantucketer&mdash;ever been in a stove boat?" "No, Sir, I never have." "Dost know nothing at all about whaling, I dare say&mdash;eh? "Nothing, Sir; but I have no doubt I shall soon learn. I've been several voyages in the merchant service,</p>
        </li>
    </ul>
</section>
