// ------ Screencast snippets ------
.more-screencasts {
    @extend .more-articles;
}

.h-sc-snippet {
    @extend .h-article-snippet;
    @include trailer(8);

    display: block;
    clear: both;

    &::before {
        left: 26%;
    }

    &::after {
        top: 164px; right: 29%;
    }

    h3 { width: 55%; }

    time { top: -2px; }

    .desc-wrapper {
        position: relative;
        right: -12px;
        min-height: 117px;
        width: 50% !important;
    }
}

.sc-info-wrapper {
    @extend .article-info-wrapper;
    width: 47% !important;

    img {
        margin-right: 20px;
        vertical-align: bottom;
    }
}

#screencasts {
    .summary > p {
        @include float-right;
        display: table-cell;
        padding-left: 16px;
        margin-bottom: 0;
        width: 70%;
        position: relative;
        left: -12px;
    }

    iframe {
        display: block;
        margin: 0 auto;
        height: 300px; width: 575px;
    }

    time {
        border-color: $shibuya-yellow;
    }

    .article-snippet {
        @include trailer(7);
    }

    .snippet { margin-top: 24px; }
}
