// ------ Feeds ------
#local-feeds, #vim-feeds, #external-feeds {
    @extend .feed-wrapper;

    .item-wrapper {
        padding-left: 38px;
        width: 40%;
    }

    ul {
        padding-top: 15.5px;
    }
}

#local-feeds {
    ul { position: relative; top: 22px; }

    .item-wrapper { width: 34%; }
}

#vim-feeds {
    padding-top: 32px;

    h2 { width: 30%; }
}

#external-feeds ul {
    height: 100px;
}
