// ------ General styles ------
@mixin content($letter, $font, $weight: normal) {
    content: $letter;
    font-family: $font;
    font-weight: $weight;
}


a { text-decoration: none; }

.right-arrow {
    &::before {
        @include content('R\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}

.left-arrow {
    &::before {
        @include content('L\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}


.down-arrow {
    &::before {
        @include content('D\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}

header {
    #header-info {
        @include adjust-font-size-to(49px, 3.8462); // 75px line-height
        font-weight: bold;
        text-shadow: 0 0 2px #D5D5D5;
    }

    #extra {
        @include adjust-font-size-to(38px, 3.8462, 49px);
        font-family: "Iconic Stroke";
        text-align: right;
    }

    #page-info {
        text-align: center;

        &::after {
            @include adjust-font-size-to(72px, 1, 49px);
            @include content('j\A', "Notice Second", normal);
        }
    }

    #main-nav {
        a {
            @include adjust-font-size-to(14px);
        }

        .link-wrapper {
            text-align: center;

            &:first-of-type span {
                @include adjust-font-size-to(58px);
                font-family: "Notice Second";
            }
            &:nth-of-type(2) span {
                @include adjust-font-size-to(58px);
                font-family: "Notice Std";
            }
            &:nth-of-type(3) span {
                @include adjust-font-size-to(58px);
                font-family: "Notice Second";
            }
            &:last-of-type span {
                @include adjust-font-size-to(58px);
                font-family: "Notice Second";
            }
        }
    }
}

.no-js {
    @include adjust-font-size-to(42px, 3.59);
    font-weight: bold;
    text-align: center;

    &::before {
        @include content("W\A", "Symbol Signs");
    }
}

// ------ Article snippets ------
time {
    font-weight: bold;
    text-align: center;
}

.most-recent {
    @include adjust-font-size-to(22px);

    h1 {
        @include adjust-font-size-to(54px, 2.8, 22px);
        font-weight: bold;
        text-transform: none;
        letter-spacing: -2px;
        word-spacing: 2px;
    }

    time {
        @include adjust-font-size-to(26px, 0.9, 22px);

        .day {
            @include adjust-font-size-to(48px, 2.9, 22px); // line-height: ~0.9em
        }
    }
}

.article-snippet, .h-article-snippet {
    .more a {
        font-weight: bold;
        text-align: right;
    }

    h3 {
        @include adjust-font-size-to(18px);
    }

    time {
        @include adjust-font-size-to(12px);

        .day {
            @include adjust-font-size-to(20px, 0.5, 10px); // line-height: ~0.9em
        }
    }
}

.more { text-align: right; }

.show-more {
    @include adjust-font-size-to(40px);
    font-weight: bold;
    text-align: center;

    &::before {
        @include adjust-font-size-to(58px, 1, 40px);
        @include content("j\A", "Notice Second")
    }

    &::after {
        @include adjust-font-size-to(58px, 1, 40px);
        @include content("j\A", "Notice Second")
    }
}


// ------ Screencast snippets ------
#screencasts {
    .snippet {
        @include adjust-font-size-to(14px, 1, 22px);
    }
}


// ------ Script updates ------
.commit {
    @include adjust-font-size-to(12px);

    a {
        @include adjust-font-size-to(13px, 1, 12px);
    }

    a, span {
        font-weight: bold;
    }

    time {
        @include adjust-font-size-to(10px, 1, 12px);
        text-align: right;
    }
}

.more-wrapper {
    font-weight: bold;
    text-align: right;
}

.l-symbol {
    @include adjust-font-size-to(70px, 2.9); // line-height: 70px
    font-family: "Notice Second";
}

.feed-wrapper {
    @include adjust-font-size-to(14px);

    a {
        font-weight: bold;
    }

    h2 {
        @include adjust-font-size-to(40px, 1.667, 14px);
        font-weight: bold;
        text-transform: none;
        letter-spacing: -1px;

        span {
            @include adjust-font-size-to(57px, 2, 40px);
        }
    }
}

.f-symbol {
    @include adjust-font-size-to(120px, 0.667, 14px);
    font-family: "Notice Second";
    font-weight: normal;
}

#f-title {
    @include adjust-font-size-to(24px, 1, 14px);
}

#featured {
    #desc {
        @include adjust-font-size-to(15px, 1, 14px);
    }
}

#updated {
    @include adjust-font-size-to(11px, 1, 12px);

    span {
        @include adjust-font-size-to(9px, 1, 11px);
    }

    .symbol {
        @include adjust-font-size-to(50px, 2.9, 11px);
        font-family: "Notice Second";
    }
}

h2 {
    @include adjust-font-size-to(26px);
    font-weight: bold;
    text-transform: none;
    letter-spacing: -1px;
}


// ------ About page ------
.symbol {
    @include adjust-font-size-to(70px, 2.9, 14px); // line-height: 70px
    font-family: "Symbol Signs";
}

#about-text, #credits {
    @include adjust-font-size-to(14px);
}


// ------ Article Submission Form ------
.close > span {
    @include adjust-font-size-to(21px, 0.7);
}


// ------ Contact Form ------
.input-num {
    text-align: center;

    &::after { font-weight: bold; }
}


// ------ Form Validation ------
.error-msg {
    @include adjust-font-size-to(12px);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
    span {
        @include adjust-font-size-to(24px, 1, 12px);
        font-family: "Notice Std";
        font-weight: normal;
    }
}
