// ------ General styles ------
@mixin content($letter, $font, $weight: normal) {
    content: $letter;
    font-family: $font;
    font-weight: $weight;
}


a { text-decoration: none; }

.right-arrow {
    &::before {
        @include content('R\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}

.left-arrow {
    &::before {
        @include content('L\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}


.down-arrow {
    &::before {
        @include content('D\A', "Symbol Signs");
        @include adjust-font-size-to(80px);
        text-align: right;
    }
}

header {

}

.no-js {

}


// ------ About page ------
.symbol {
    @include adjust-font-size-to(70px, 2.9, 14px); // line-height: 70px
    font-family: "Symbol Signs";
}

#about-text, #credits {
    @include adjust-font-size-to(14px);
}


// ------ Article Submission Form ------
.close > span {
    @include adjust-font-size-to(21px, 0.7);
}


// ------ Contact Form ------
.input-num {
    text-align: center;

    &::after { font-weight: bold; }
}


// ------ Form Validation ------
.error-msg {
    @include adjust-font-size-to(12px);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3px;
    span {
        @include adjust-font-size-to(24px, 1, 12px);
        font-family: "Notice Std";
        font-weight: normal;
    }
}
