// ------ Media Queries ------
@media screen and (max-width: 1024px) {
    // You're out of luck if you view this site w/ a 1024px monitor
    body { background: black image-url('vu_bg_1280x1024.png') no-repeat fixed top center; }

    header {
        height: 174px !important;

        #extra { width: 26% !important; }
        #page-info { width: 71% !important; }
        #header-info {
            font-size: 2.692308em !important;
            line-height: 1.63em !important;
            height: 58px;
        }
    }

    .down-arrow, .left-arrow, .right-arrow {
        &::before { @include adjust-font-size-to(60px); }
    }

    #extra a:hover::after { font-size: 0.421053em !important; }

    #extra a:first-of-type:hover::after { width: 320% !important; }
}


@media screen and (max-width: 1280px) {
    body {
        background: black image-url('vu_bg_1280x1024.png') no-repeat fixed top center;
        width: 7334px;
    }

    .container { width: 100.5em; }

    .abs-form, .basic-form { &::after { right: 92px; } }
    .basic-form::before { left: 226px; }
    .abs-form::before   { left: 318px; }

    .left-column {
        padding-left: 1.326%;
        padding-right: 3.186%;
    }

    .right-column { padding-right: 3.6%; }

    .more-articles, .more-screencasts { padding: 0 7.433%; }

    .h-sc-snippet {
        h3 { width: 50%; }

        .desc-wrapper { width: 47% !important; }
    }

    header {
        #extra { width: 24%; }
        #page-info { width: 73%; }
        #header-info { @include adjust-font-size-to(46px, 3.8462); }
    }

    #featured {
        &::before { @include transform(1, -180deg, 66px, -160px, 0, -50deg); }
        &::after { @include transform(1, -180deg, -508px, 110px, 0deg, -50deg, 100px, 124px); }
    }

    #popular::before { left: 70px; }
}


@media screen and (min-width: 1281px) and (max-width: 1366px) {
    body {
        background: black image-url('vu_bg_1440x1080.png') no-repeat fixed top center;
        width: 7593px;
    }

    header {
        #extra { width: 24%; }
        #page-info { width: 73%; }
        #header-info { @include adjust-font-size-to(50px, 3.8462); }
    }

    .container { width: 104.5em; }

    .basic-form::after { right: 92px; }

    #popular::before { left: 83px; }

    #featured {
        &::before { @include transform(1, -180deg, 66px, -160px, 0deg, -50deg); }
        &::after { @include transform(1, -180deg, -536px, 110px, 0deg, -50deg, 100px, 124px); }
    }
}

@media screen and (min-width: 1367px) {
    body {
        background: black image-url('vu_bg.png') no-repeat fixed top center;
        width: 7788px;
    }
}
