<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{page_title}} :: Vim Underground</title>

        <meta name="description" content="The latest user-generated VIM news and articles"/>
        <meta name="keywords" content="vim news, linux vim, mac vim, vim scripts, vim commands, gvim"/>
         
        <link href="favicon.ico" rel="shortcut icon" />
        <link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <!--[if lt IE 8]>
            <link href="css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>

    <body>
        <div class="container">
            {{>header}}

            <div class="content">
                {{#type}}
                    <section id="{{type}}" {{#key}}data-last-key="{{key}}"{{/key}}>
                        {{>blurbs}} 
                    </section>
                {{/type}}

                {{#scripts}}
                    <section id="by-rating" {{#key}}data-last-key="{{key}}"{{/key}}>
                        <img class="loader" src="images/loader.gif" /> 
                    </section>
                {{/scripts}}

                {{#bottom_row}} 
                    <section id="scripts">
                        <img class="loader" src="images/loader.gif" />
                    </section>

                    <section id="screencasts">
                        <img class="loader" src="images/loader.gif" />
                    </section>
                {{/bottom_row}} 

                {{{about}}}

                {{>footer}}
            </div>
        </div>

        {{>overlay}}

        <script src="js/vendor/hyphenator-3.3.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/vendor/yepnope-1.0.1-min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            yepnope({
                load: [ "js/core.min.js", "js/plugins.min.js", "js/application.min.js" ],
                complete: function () { 
                    if (window.webkitNotifications) yepnope('css/webkit.css');
                }
            });
        </script>
    </body>
</html>
